*{
    box-sizing: border-box;
}
body{
    background-color: #171717;
}
.container{
    max-width: 1460px;
    margin: 0 auto;
}
.header{
    background: #171717;
} 
.header-container{
    display: flex;
    padding-top: 37px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.call{
    border: 1px solid #E4B564;
    display: inline-flex;
    width: 218px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-family: 'Ballet';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
   
    color: #E4B564;
}

.header-call-image{
    padding-right: 10px;
}



.workType{
    margin-bottom: 161px;
}
.workType-title{
    font-family: 'Gilam';

    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;

    margin-bottom: 43px;
}
.workType-text{
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
    
    margin-bottom: 41px;
}
.workType-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 468px 468px;
    gap: 27px 30px;
}
.workType-item{
   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
}
.workType-item1{
    grid-column: 1/3;
    grid-row: 1/2;
    background: #634F2C;
}
.workType-item2{
    grid-column: 3/5;
    grid-row: 1/2;

    background: #B4A385;
}
.workType-item3{
    grid-column: 5/7;
    grid-row: 1/2;

    background: #E4B564;
}
.workType-item4{
    grid-column: 1/4;
    grid-row: 2/3;

    background: #635A4A;
}
.workType-item5{
    grid-column: 4/7;
    grid-row: 2/3;

    background: #B08C4D;
}

.technics{
    padding-bottom: 191px;
}
.technic-title{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;

    margin-bottom: 94px;
}
.technics-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 30px 30px;

    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
}
.tecnics-item{
    padding-left: 51px;
    padding-top: 44px;
}
.tecnics-item1{
    grid-column: 1/2;
    grid-row: 1/5;
    background: #0E0E0E;
    min-height: 313px;;

    font-weight: 400;
}
.tecnics-item2{
    grid-column: 2/3;
    grid-row: 1/6;
    background: #242424;
    
    font-weight: 400;
}
.tecnics-item3{
    grid-column: 3/4;
    grid-row: 1/4;
    background: #1F1F1F;
}
.tecnics-item4{
    grid-column: 1/2;
    grid-row: 5/11;
    background: #1F1F1F;
}
.tecnics-item5{
    grid-column: 2/3;
    grid-row: 6/11;
    background: #E4B564;

    color: #000000;
}
.tecnics-item5{
    grid-column: 2/3;
    grid-row: 6/11;
    background: #E4B564;
}
.tecnics-item6{
    grid-column: 3/4;
    grid-row: 4/8;
    background: #0E0E0E;
}
.tecnics-item7{
    grid-column: 3/4;
    grid-row: 8/11;
    background: #0A0909;

    font-weight: 700;
}
.clients{
    background-color: #0E0E0E;
    padding-top: 172px;
    margin-bottom: 239px;
}
.clients-container-text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 72px;
}
.clients-title{
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;
}
.clients-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 391px 391px;
}
.client-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clients-item1{
    background: #634F2C
}
.clients-item2{
    background: rgba(232, 210, 171, 0.76);
    text-align: center;
    gap:10px
}
.clients-item3{
    background: #E4B564;
}
.clients-item4{
    background: #635A4A;
}
.clients-item5{
    background: #B08C4D;
}
.clients-item6{
    background: #634F2C;
}

.clients-item2-text{
    padding-left: 80px;
    padding-right: 80px;

    font-family: 'Gilam';
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    
    color: #FFFFFF;
}