
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
li {
    list-style-type: none;
  }

.container{
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.post{
    margin: 20px auto;
    max-width: 70vw;
    border: 2px solid black;
    /* background-color: #000; */
    /* padding: 0 20px; */
    border-radius: 25px;
    overflow: hidden;
}
.name{
    padding: 1em 0px;
}
.name-list{
    display: flex;
    justify-content: space-around;
    font-size: 1em;
}

.description{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: #000;
    color: white;
    font-size: 1.3em;
  }
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    background-color: #000;
    padding: 20px 10px; 
}
