body{
    background-image: url(../image/background.png);
    background-repeat: none;
    background-size: cover;
    /* background-color: #022263; */
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 54px;
}
.header-logo{
    color: #FFF;
    font-size: 22px;
    font-family: Ubuntu;
    font-weight: 700;
    line-height: 22px;
	padding-left: 79px;
}
.header-logo:hover{
    color: #236d47;
}
.header-right{
    display: flex;
    align-items: center;
    padding-right: 79px;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-item{
    margin: 0 12px;
}
.icon:hover path{
    fill: #236d47; 
}
.header-right__log:before{
    content: "";
    display: inline-block;
    height: 19px;
    width: 1px;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    margin-right: 27px;
    margin-left: 8px;

}
.header-right__log{
    display: flex;
    align-items:center;
    color: #FFF;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
}
.header-right__log a{
    color: #FFF;
}
.header-right__log a:hover{
    color:#236d47;
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 74px;
}

.form-container{    
    box-sizing: border-box;
    width: 444px;
    height: 584px;
    background: #FFF;
    /* background: pink; */
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);  
    padding: 29px 60px 38px 60px;
}
.form-container__typeOfSign{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 15px;
}
.form-sign{
    color: #434343;
    font-size: 20px;
    font-family: Ubuntu;
    line-height: 20px;
    position: relative;
}
.form-sign::before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color:#3CB878;
    position: absolute;
    left: -60px;
}
.form-log{
    color: #3CB878;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
}
.form-log:hover{
    text-decoration: underline;
}
.form-container__button{
    display: flex;
    justify-content: space-between;
}
.button-facebook, .button-google{
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-sizing:border-box;
    margin-bottom: 31px;
    border: 0;
    border-radius: 3px;
    padding-left: 11px;
}
.button-facebook{
    background-color: #305DB8;  
}
.button-facebook:hover{
    background-color:#022263;
}
.button-facebook-text, .button-google-text{
    color: #FFF;
    font-size: 16px;
    font-family: Ubuntu;
    line-height: 16px;
    display: flex;
    align-items:center;
}
.button-facebook-text{
    padding-right: 22px;
}
.button-facebook-text::before{
    content: "";
    display: inline-block;
    opacity: 0.10000000149011612;
    background: #0A162F;
    width: 1px;
    height: 28px;
    margin-right: 18px;
}
.button-google{
    background-color: #DF4A32;
}
.button-google:hover{
    background-color:#AB1F09;
}
.button-google-text{
    padding-right: 27px;
}
.button-google-text::before{
    content: "";
    display: inline-block;
    opacity: 0.10000000149011612;
    background: #0A162F;
    width: 1px;
    height: 28px;
    margin-right: 30px;
}

.form-line{
    color: #848484;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 12px;
}
.form-line::before{
    content: "";
    display: inline-block;
    background-color: #F2F2F2;
    
    width: 152px;
    height: 1px;
}
.form-line::after{
    content: "";
    display: inline-block;
    background-color: #F2F2F2;
    
    width: 152px;
    height: 1px;
}
.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.form-input__item{
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}
.form-input__item:placeholder-shown{
    color: #BEBEBE;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
    padding-left: 20px;
}
.form-input__item:focus{
    box-shadow: 0px 3px 8px 0px #00000036;
    border:0px;
}
.hidden{
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.custom-checkbox{
    position: relative;
    padding-left: 28px;
    
    color: #434343;
    font-size: 14px;
    font-family: Ubuntu;
    line-height: 14px;
}
.custom-checkbox span{
    display: inline-block;
    border: 1px solid #F2F2F2;
    width:20px;
    height:20px;
    position: absolute;
    left: 0px;
    vertical-align: middle;
    box-sizing:border-box;
    margin-bottom: 20px;
}
.custom-checkbox input:checked + span{
    background-image: url(../image/checkbox.svg);
    background-repeat:none;
    background-size: cover;
}
.custom-checkbox__link{
    color:#3CB878;
}
.custom-checkbox__link:hover{
    text-decoration: underline;
}

.button-account{
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: 0;
}
.button-account__text{
    color: #FFF;
    font-size: 16px;
    font-family: Ubuntu;
    line-height: 16px;
}
.button-account:hover{
   background-color: #01813F;
}
.change-color{
    margin: 0 auto;
    display: block;
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: 0;
}