/* .btn{
    display: block;
    margin: 100px auto;
    width: 300px;
    height: 100px;
    
} */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.btn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btn:hover {background-color: #3e8e41}
  
  .btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #result{
    display: flex;
    justify-content: center;
  }