footer{
    background-color: black;
    // height: 315px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.footer__title{
    color: #FEFEFE;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    text-transform: uppercase;
    text-align: center;
    padding-top: 38px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        font-size: 16px;
     }
}
.footer__text{
    width: 100%;
    color: #B9B9B9;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    padding-top: 8px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        font-size: 16px;
        // width: 684px;
     }
}
.footer__text-add{
    display: none;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: inline;
     }
}
.footer__icons{
    display: flex;
    justify-content: center;
    column-gap: 6px;
    padding-top: 28px;
}
.footer__icons-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;   
    border-radius: 30px;
    border: 2px solid #F8902E;
    background: rgba(0, 0, 0, 0.00);;
    &:nth-child(2){
        border-color: #39599F;
    }
    &:nth-child(3){
        border-color: #45B0E3;
    }
    &:nth-child(4){
        border-color: #D97AB0;
    }
    &:nth-child(5){
        border-color: #CC212C;
    }
}
.footer__info{
    display: flex;
    justify-content: center;
    column-gap: 9px;
    flex-direction: column;
    padding-top: 25px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
       flex-direction: row;
    }
}
.footer__info-text{
    color: #B9B9B9;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    @media screen and (min-width: $ui-breakpoint-md-min) {
        font-size: 16px;
     }
}