.header__content-nav{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 23px;
    // width: 100%;
    @media screen and (min-width: $ui-breakpoint-md-min) {
         justify-content: space-evenly;
         align-items: center;
         padding-top: 41px;
         padding-bottom: 43px;
         margin-top: 0px;
    }
    @media screen and (min-width: $ui-breakpoint-md-min) {
        padding-top: 51px;
        padding-bottom: 45px;
   }
}
.header__btn-burger{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    width: 44px;
    height: 37px;
    display: flex;
    justify-content: center;
    // display: none;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: none;
    }
}
.header__btn-exit{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    width: 44px;
    height: 37px;
    display: none;
    justify-content: center;

    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: none;
    }
}
.header__btn{
    width: 100%;
    height: auto;
}
.header__nav{
    display: none;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: block;
    }
}
.header__nav-list{
    background-color: rgba(245, 245, 245, 1);
    position: absolute;
    top: 38px;
    right: 0;
    width: 182px;
    height: 208px;

    display: flex;
    flex-direction: column;
    gap: 1.5px;
    
    @media screen and (min-width: $ui-breakpoint-md-min) {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: transparent;
        gap: 30px;
        flex-wrap: wrap;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        gap: 68px;
    }
}
.header-item{
    padding-top: 6px;
    padding-left: 13px;
    // max-width: 100%;

    &:first-child{
        padding-top: 4.5px;
    }
    @media screen and (min-width: $ui-breakpoint-md-min) {
      padding: 0;
      &:first-child{
        padding-top: 0;
    }
    }
}
.header__nav-link{
    color: #4E4E4E;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px; /* 200% */
    letter-spacing: 1.1px;
    text-transform: uppercase;

    &:hover{
        color: #57A4A4;
    }
}
.header__image{
    margin-top: 23px;
    max-width:100%;
    // height:150px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        // width: 100%;
        // height: 361px;
        margin-top: 0;
      }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        // width: 100%;
        // height: 550px;
      }
}

