


.posts{
    padding-top: 50px;
    font-family: Roboto;
    padding-bottom: 60px;
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        padding-bottom: 69px;
    }
}
.posts-container{
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 55px;
    }
}
.posts__title{
    color: #4E4E4E;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    text-transform: uppercase;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        font-size: 16px;
    }
}
.posts__item{
    padding-top: 32px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: flex;
    }
    &:first-child{
        padding-top: 23px;
    }
    &:last-child{
        display: none;
        @media screen and (min-width: $ui-breakpoint-md-min) {
            display: flex;
        }
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        display: flex;

    }
   
}


.posts__img{
    width: 160px;
    height: 140px;
   
}
.posts__list{
    @media screen and (min-width: $ui-breakpoint-md-min) {
        padding-left: 25px;
    }

}
.posts__list-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        font-size: 16px;
    }
}
.posts__list-comment{
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    color: #7C7C7C;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        padding-bottom: 13px;
        font-size: 12px;
    }
   
}

.posts__list-text{
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: flex;
    }
}

.instagram{
    padding-top: 17px;
    padding-bottom: 50px;

    @media screen and (min-width: $ui-breakpoint-md-min) {
        background-color: #f7f7f7;
        padding-top: 47px;
    }
}
.instagram-text{
    display: flex;
    justify-content: space-between;
    // padding-bottom: 1px;
}
.instagram__title{
    color: #4E4E4E;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    text-transform: uppercase;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        font-size: 16px;
     }
}
.instagram-title-left{
    color: #4E4E4E;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px; /* 169.231% */
    text-transform: uppercase;
    display: none;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: inline;
    }
}

.instagram__container{
    padding-top: 13px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    // column-gap: 10px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        padding-top: 35px;
    }
}
.instagram__image{
    max-width: 100%;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        width: 32%;
        &:nth-child(3){
        margin-right: 0;
    }
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        width: 24%;
        &:nth-child(4){
        margin-right: 0;
    }
    }
   
}
.instagram__image-2, .instagram__image-3{
    display:none;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        display:block;
    }
}
.instagram__image-4{
    display:none;
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        display:block;
    }
}
